a:hover{color:green}

body{
  display:flex;
  flex-direction: column;


}

main{
  display:flex;
  flex: auto;

}

aside{flex:1}
article{flex:3;
background:url("https://img0.baidu.com/it/u=2257546849,85670009&fm=26&fmt=auto&gp=0.jpg");
}







